<% include ../partials/header %>

    <div class="container">
        <div class="row">

            <h1 style="text-align: center;">edit comment </h1>
            <div style="width: 40%; margin: 25px auto;">

                <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="text" value="<%= comment.text %>" value="" name="comment[text]">
                    </div>
                  
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="submit!">

                </form>

                <a href="/campgrounds"> Go back</a>

            </div>
        </div>
    </div>

    <% include ../partials/footer %>