<% include ../partials/header %>

    <div class="container">
        <div class="row">

            <h1 style="text-align: center;">create add new comment to <%= campground.name %> </h1>
            <div style="width: 40%; margin: 25px auto;">

                <form action="/campgrounds/<%= campground._id %>/comments" method="POST">

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="text" name="comment[text]">
                    </div>
                  
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="submit!">

                </form>

                <a href="/campgrounds"> Go back</a>

            </div>
        </div>
    </div>

    <% include ../partials/footer %>