<% include partials/header %>

    <h1>signup form!!!</h1>

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">

        <button>sign up</button>
    </form>
    
<% include partials/footer %>