<% include ../partials/header %>

    <div class="container">
        <div class="row">

            <h1 style="text-align: center;">edit <%=campground.name%></h1>
            <div style="width: 40%; margin: 25px auto;">

                <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="name" value="<%=campground.name%>" name="campground[name]">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="image url" value="<%=campground.image%>" name="campground[image]">
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="description" value="<%=campground.description%>" name="campground[description]">
                    </div>

                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="submit!">

                </form>

                <a href="/campgrounds"> Go back</a>

            </div>
        </div>
    </div>

    <% include ../partials/footer %>