<% include ../partials/header %>

    <div class="container">

        <header class="jumbotron">

            <div class="container">


                <h1>Welcome to yelpCamp!</h1>
                <p>view our hand-picked campground from all over the world</p>

                <p>
                    <a href="/campgrounds/new" class="btn btn-primary btn-lg"> Add new Campground</a>
                </p>

            </div>

        </header>


        <div class="row text-center" style="display:flex; flex-wrap: wrap;">

            <div class="col-lg-12">
                <h3>Our most Popular campgrounds!</h3>
            </div>

            <% campgrounds.forEach(function(campground){ %>

                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">

                        <img src="<%=campground.image%>">

                        <div class="caption">
                            <h4>
                                <%= campground.name %>
                            </h4>
                        </div>
                        <p>
                            <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">more info</a>
                        </p>
                    </div>
                </div>

                <% })%>

        </div>

    </div>

    <% include ../partials/footer %>