<% include ../partials/header %>

    <div class="container">
        <div class="row">

            <h1 style="text-align: center;">create a new campground</h1>
            <div style="width: 40%; margin: 25px auto;">

                <form action="/campgrounds" method="POST">

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="name" name="name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="image url" name="image">
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="description" name="description">
                    </div>

                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="submit!">

                </form>

                <a href="/campgrounds"> Go back</a>

            </div>
        </div>
    </div>

    <% include ../partials/footer %>